* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 90%;
    max-width: 400px;
    background-color: #1f1f1f;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
    padding: 25px;
}

.display {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #181818;
    color: #ffffff;
    border-radius: 10px;

    padding: 10px 20px;
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 500;

    overflow: hidden;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 15px;
}

.btn {
    width: 21%;     /*4 buttons on a row, so 100% / 4 means 25 but with the gap we have ~ 22% button width*/

    border-radius: 50%;
    aspect-ratio: 1;  /*We make height = width*/

    border: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    color: white;
}

.btn:hover {
    filter: brightness(1.1);
    transform: scale(0.95);
}

.btn:active {
    filter: brightness(0.9);
}

.number {
    background-color: #333333;
}

.operation {
    background-color: #ff9f0a;
}

#ac, #del, #mod {
    background-color: #555555;
    color: white;
}