* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e1e24, #2a2a35);
}

.main-container {
    width: 90%;
    max-width: 380px;

    background-color: #16161a;

    border-radius: 25px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.5);
    border: 1px solid #2a2a30;

    padding: 25px;
}

.display {
    width: 100%;
    height: 90px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;

    padding: 10px;
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 500;

    overflow: hidden;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 12px;
}

.btn {
    width: calc((100% - 36px) / 4);     /*4 buttons on a row, so 100% / 4 means 25 but with the gap we have ~ 22% button width*/

    border-radius: 16px;
    aspect-ratio: 1;  /*We make height = width*/

    border: none;
    cursor: pointer;

    transition: all 0.2s ease;

    font-size: 22px;
    font-weight: bold;

    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.btn:hover {
    filter: brightness(1.2);
    transform: scale(0.95);
}

.btn:active {
    filter: brightness(0.9);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
}


.operation, #equal{
    background-color: #7f5af0;
    color: #fffffe;
}

.number, #dot, #plus-minus {
    background-color: #242629;
    color: #fffffe;
}

#ac, #del, #mod {
    background-color: #2cb67d;
    color: #16161a;
}